{% extends 'layout.html.twig' %}

{% block content %}
<h1> {{title}}</h1>

{% for msg in app.session.flashbag.get('success') %}
    <span class="alert alert-success">{{ msg }}</span>
{% endfor %}



{% endblock %}